{
  "registry-mirrors": ["https://hub.hamdocker.ir/"],
  "bip": "172.85.0.1/24",
  "log-driver": "json-file",
  "log-level": "info",
  "log-opts": {
    "cache-disabled": "false",
    "cache-max-file": "5",
    "cache-max-size": "20m",
    "cache-compress": "true",
    "labels": "MeCanHost",
    "max-file": "5",
    "max-size": "10m"
  }
}
