# Domain address
DOMAIN_ADDRESS={{ prometheus_stack.DOMAIN_ADDRESS }}
PROSUB={{ prometheus_stack.PROSUB }}
GRASUB={{ prometheus_stack.GRASUB }}
ALESUB={{ prometheus_stack.ALESUB }}
PGWSUB={{ prometheus_stack.PGWSUB }}

# Grafana Auth
GRAFANA_USERNAME={{ prometheus_stack.GRAFANA_USERNAME }}
GRAFANA_PASSWORD={{ prometheus_stack.GRAFANA_PASSWORD }}
GRAFANA_INSTALL_PLUGINS={{ prometheus_stack.GRAFANA_INSTALL_PLUGINS }}

# Server Name
HOSTNAME={{ prometheus_stack.HOSTNAME }}

# set restart policy
RESTART_POLICY={{ prometheus_stack.RESTART_POLICY }}
